@model TeduCore.Application.ECommerce.Bills.Dtos.BillViewModel
<h1>Đơn hàng mới tại Panda Shop</h1>
<p>Sau đây là thông tin đơn hàng:</p>
<table>
    <tr>
        <td>Tên khách hàng</td>
        <td>@Model.CustomerName</td>
    </tr>
    <tr>
        <td>Địa chỉ</td>
        <td>@Model.CustomerAddress</td>
    </tr>
    <tr>
        <td>Điện thoại</td>
        <td>@Model.CustomerMobile</td>
    </tr>
    <tr>
        <td>Ngày đặt</td>
        <td>@Model.DateCreated.ToString("dd/MM/yyyy hh:mm")</td>
    </tr>
    <tr>
        <td>Chi tiết</td>
        <td>
            <table>
                <thead>
                    <tr>
                        <th>Mã SP</th>
                        <th>Tên SP</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BillDetails)
                    {
                        <tr>
                            <td>@item.Product.Code</td>
                            <td>@item.Product.Name</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price</td>
                            <td>@((item.Quantity * item.Price).ToString("N0"))</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            Tổng tiền: @Model.BillDetails.Sum(x => x.Quantity * x.Price).ToString("N0")
                        </td>
                    </tr>
                </tfoot>
            </table>
        </td>
    </tr>
</table>