@model TeduCore.WebApp.Models.ProductViewModels.DetailViewModel
@{
    ViewData["PageTitle"] = Model.Product.Name;
    ViewData["SeoKeywords"] = Model.Product.SeoKeywords;
    ViewData["SeoDescription"] = Model.Product.SeoDescription;
}
@section Scripts{
    <!-- cloud zoom js -->
    <script type="text/javascript" src="~/client-side/js/cloud-zoom.js"></script>
    <!-- flexslider js -->
    <script type="text/javascript" src="~/client-side/js/jquery.flexslider.js"></script>
    <script src="~/client-app/controllers/product/details.js"></script>
    <script>
        var detailObj = new ProductDetailController();
        detailObj.initialize();
    </script>
}
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Trang chủ" href="/">Trang chủ</a><span>&raquo;</span></li>
                    <li class=""> <a title="" href="/@Model.Category.SeoAlias-c.@(Model.Category.Id).html">@Model.Category.Name</a><span>&raquo;</span></li>
                    <li><strong>@Model.Product.Name-@Model.Product.Code</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<div class="main-container col2-left-layout">
    <div class="container">
        <div class="row">
            <div class="col-main col-sm-9 col-xs-12">
                <div class="product-view-area">
                    <div class="product-big-image col-xs-12 col-sm-5 col-lg-5 col-md-5">
                        @if (Model.Product.PromotionPrice.HasValue)
                        {
                            <div class="icon-sale-label sale-left">Khuyến mãi</div>
                        }
                        <div class="large-image">
                            <a href="@Model.Product.ThumbnailImage" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20">
                                <img class="zoom-img" src="@Model.Product.ThumbnailImage" alt="@Model.Product.Name-@Model.Product.Code" />
                            </a>
                        </div>
                        @if (Model.ProductImages.Count > 0)
                        {
                            <div class="flexslider flexslider-thumb">
                                <ul class="previews-list slides">
                                    @foreach (var image in Model.ProductImages)
                                    {
                                        <li><a href='@image.Path' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '@image.Path' "><img src="@image.Path" alt="@image.Caption" /></a></li>
                                    }
                                </ul>
                            </div>
                        }
                        <!-- end: more-images -->
                    </div>
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7 product-details-area">
                        <div class="product-name">
                            <h1>@Model.Product.Name-@Model.Product.Code</h1>
                        </div>
                        <div class="price-box">
                            @if (Model.Product.PromotionPrice.HasValue)
                            {
                                <p class="special-price"> <span class="price-label">Giá khuyến mãi</span> <span class="price"> @Model.Product.PromotionPrice.Value.ToString("N0") </span> </p>
                                <p class="old-price">
                                    <span class="price-label">Giá gốc:</span>
                                    <span class="price"> @Model.Product.Price.ToString("N0") </span>
                                </p>
                            }
                            else
                            {
                                <p class="special-price"> <span class="price-label">Giá</span> <span class="price"> @Model.Product.Price.ToString("N0") </span> </p>
                            }
                        </div>
                        <div class="ratings">
                            @*<div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>*@
                            @*<p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Your Review</a> </p>*@
                            @if (Model.Product.Quantity > 0)
                            {
                                <p class="availability in-stock pull-right">Trạng thái: <span>Còn hàng</span></p>
                            }
                            else
                            {
                                <p class="availability out-of-stock pull-right">Trạng thái: <span>Hết hàng</span></p>
                            }
                        </div>
                        <div class="short-description">
                            @if (!string.IsNullOrEmpty(Model.Product.Description))
                            {
                                <h2>Mô tả</h2>
                                @(Model.Product.Code + ": " + Html.Raw(Model.Product.Description))
                            }
                        </div>
                        <div class="product-variation">
                            <form action="#" method="post">
                                <div class="cart-plus-minus">
                                    <label for="qty">Số lượng:</label>
                                    <div class="numbers-row">
                                        <div onClick="var result = document.getElementById('txtQuantity'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 0 ) result.value--;return false;" class="dec qtybutton"><i class="fa fa-minus">&nbsp;</i></div>
                                        <input type="text" class="qty" title="Qty" value="1" maxlength="12" id="txtQuantity" name="txtQuantity">
                                        <div onClick="var result = document.getElementById('txtQuantity'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="inc qtybutton"><i class="fa fa-plus">&nbsp;</i></div>
                                    </div>
                                </div>
                                <button class="button pro-add-to-cart" title="Thêm vào giỏ" type="button" data-id="@Model.Product.Id"><span><i class="fa fa-shopping-basket"></i>Thêm vào giỏ</span></button>
                            </form>
                        </div>
                        <div class="product-cart-option">
                            <ul>
                                <li><a href="#"><i class="fa fa-heart-o"></i><span>Thêm vào yêu thích</span></a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i><span>Gửi mail cho bạn</span></a></li>
                            </ul>
                        </div>
                        @*<div class="pro-tags">
                                <div class="pro-tags-title">Tags:</div>
                                <a href="#">ecommerce</a>,
                                <a href="#">bootstrap</a>,
                                <a href="#">shopping</a>,
                                <a href="#">fashion</a>,
                                <a href="#">responsive</a>
                            </div>*@
                    </div>
                </div>
                <div class="product-overview-tab">
                    <div class="product-tab-inner">
                        <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                            <li class="active"> <a href="#description" data-toggle="tab"> Mô tả </a> </li>
                        </ul>
                        <div id="productTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="description">
                                <div class="std">
                                    @Html.Raw(Model.Product.Content)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="right sidebar col-sm-3 col-xs-12">
                <div class="block special-product">
                    <div class="sidebar-bar-title">
                        <h3>Hàng mới về</h3>
                    </div>
                    <div class="block-content">
                        <ul>
                            @foreach (var item in Model.LastestProducts)
                            {
                                var url = item.SeoAlias + "-" + "p." + item.Id + ".html";

                                <li class="item">
                                    <div class="products-block-left"> <a href="@url" title="@item.Name-@item.Code" class="product-image"><img src="@item.ThumbnailImage" alt="@item.Name-@item.Code"></a></div>
                                    <div class="products-block-right">
                                        <p class="product-name"> <a href="@url">@item.Name-@item.Code</a> </p>
                                        <span class="price">@item.Price.ToString("N0")</span>
                                        @*<div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>*@
                                    </div>
                                </li>
                            }
                        </ul>
                        <a class="link-all" href="/san-pham.html">Xem tất cả</a>
                    </div>
                </div>
                @*<div class="block popular-tags-area ">
                        <div class="sidebar-bar-title">
                            <h3>Thẻ phổ biến</h3>
                        </div>
                        <div class="tag">
                            <ul>
                                <li><a href="#">Boys</a></li>
                                <li><a href="#">Camera</a></li>
                                <li><a href="#">good</a></li>
                                <li><a href="#">Computers</a></li>
                                <li><a href="#">Phone</a></li>
                                <li><a href="#">clothes</a></li>
                                <li><a href="#">girl</a></li>
                                <li><a href="#">shoes</a></li>
                                <li><a href="#">women</a></li>
                                <li><a href="#">accessoties</a></li>
                                <li><a href="#">View All Tags</a></li>
                            </ul>
                        </div>
                    </div>*@
            </aside>
        </div>
    </div>
</div>

<!-- Main Container End -->
<!-- Related Product Slider -->

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="related-product-area">
                <div class="page-header">
                    <h2>Sản phẩm liên quan</h2>
                </div>
                <div class="related-products-pro">
                    <div class="slider-items-products">
                        <div id="related-product-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4 fadeInUp">
                                @foreach (var item in Model.RelatedProducts)
                                {
                                    var url = item.SeoAlias + "-" + "p." + item.Id + ".html";
                                    <div class="product-item">
                                        <div class="item-inner">
                                            <div class="product-thumbnail">
                                                <div class="pr-img-area">
                                                    <a title="@item.Name" href="@url">
                                                        <figure> <img class="first-img" src="@item.ThumbnailImage" alt="@item.Name"> <img class="hover-img" src="@item.ThumbnailImage" alt="HTML template"></figure>
                                                    </a>
                                                </div>
                                                <div class="pr-info-area">
                                                    <div class="pr-button">
                                                        <div class="mt-button add_to_wishlist"> <a href="#"> <i class="fa fa-heart-o"></i> </a> </div>
                                                        <div class="mt-button quick-view"> <a href="#"> <i class="fa fa-search"></i> </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a title="@item.Name" href="@url">@item.Name</a> </div>
                                                    <div class="item-content">
                                                        @*<div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>*@
                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                <span class="regular-price">
                                                                    <span class="price">@item.Price.ToString("N0")</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="pro-action">
                                                            <button type="button" class="add-to-cart" data-id="@item.Id"><span> Thêm vào giỏ</span> </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Related Product Slider End -->
@if (Model.UpsellProducts.Count > 0)
{
    <!-- Upsell Product Slider -->
    <section class="upsell-product-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h2>Sản phẩm khuyến mãi</h2>
                    </div>
                    <div class="slider-items-products">
                        <div id="upsell-product-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4">
                                @foreach (var item in Model.UpsellProducts)
                                {
                                    var url = item.SeoAlias + "-" + "p." + item.Id + ".html";

                                    <div class="product-item">
                                        <div class="item-inner">
                                            <div class="product-thumbnail">
                                                <div class="icon-sale-label sale-left">Khuyến mãi</div>
                                                <div class="icon-new-label new-right">Mới</div>
                                                <div class="pr-img-area">
                                                    <a title="Product title here" href="single_product.html">
                                                        <figure> <img class="first-img" src="@item.ThumbnailImage" alt="@item.Name-@item.Code"> <img class="hover-img" src="/client-side/images/products/product-1.jpg" alt="HTML template"></figure>
                                                    </a>
                                                </div>
                                                <div class="pr-info-area">
                                                    <div class="pr-button">
                                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart-o"></i> </a> </div>
                                                        <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a title="@item.Name" href="@url">@item.Name-@item.Code </a> </div>
                                                    <div class="item-content">
                                                        @*<div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>*@
                                                        <div class="item-price">
                                                            <div class="price-box"> <span class="regular-price"> <span class="price">@item.Price.ToString("N0")</span> </span> </div>
                                                        </div>
                                                        <div class="pro-action">
                                                            <button type="button" class="add-to-cart" data-id="@item.Id"><span> Thêm vào giỏ</span> </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Upsell Product Slider End -->

}

@Html.Partial("~/Views/Shared/_Service.cshtml")